* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  height: 100vh;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
}

#navbar ul li a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}
#navbar ul li span {
  padding: 2px;
}
#navbar ul li span:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  border-radius: 15px;
}

#navbar ul li a:hover {
  color: blue;
  text-decoration: underline;
}
.lio {
  padding: 15px;
  list-style-type: none;
}
#content {
  margin-top: 100px;
  text-align: center;
}
#text {
  padding: 9px 12px 9px 12px;
  margin-top: 10px;
  border: 0.5px solid;
  width: 500px;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
}

#text:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
  padding: 5px 10px;
  outline: none;
}
#container2 ul {
  display: flex;
  justify-content: center;
}
#container2 ul li {
  list-style-type: none;
  padding: 3px 5px;
}

.footer2 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
}

.footer2 ul li {
  list-style-type: none;
  padding: 5px 8px;
  font-size: 17px;
}

.footer2 ul li a {
  text-decoration: none;
  color: blue;
}
@media (max-width: 600px) {
  #text {
    padding: 8px 10px 8px 10px;
    margin-top: 10px;
    border: 0.5px solid;
    width: 70vw;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
  }
  .lio {
    padding: 8px;
    list-style-type: none;
  }
  #content {
    margin-top: 150px;
    text-align: center;
  }
}
